* {
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url(img/ice.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    
}

:root {
    --main-bg-color: rgba(91, 175, 200, 0.69);
    --second-bg-color: rgba(100, 233, 123, 0.7);
    --border-radius: 10px;
}

.add-items, .show-items {
    margin: 10% auto;
    padding: 10px;
    width: 500px;
    /* background-color: var(--main-bg-color); */
    font-family: 'Open Sans', sans-serif;
}

input[type=text], [type=submit]{
    width: 100%;
    padding: 8px;
    margin: 3px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    
}

.test {
    margin: 15% auto;
    width: 600px;
    background-color: blueviolet;
}

li {
    position: relative;
    background-color: var(--main-bg-color);
    list-style-type: none;
    font-size: 18px;
    text-align: left;
    padding: 12px 16px 12px 16px;
}

li:first-child{
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

li:last-child{
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

li:nth-child(2n){
    background-color: var(--second-bg-color);
}


/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: rgba(40, 60, 90, 0.69);
    color: white;
  }